alembic==1.18.5
anyio==4.15.1
apify_client==2.5.1
apify_shared==2.2.1
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
arjun==2.2.7
async-timeout==5.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.9.0
Brlapi==0.8.3
Brotli==1.0.9
ccsm==0.9.14.1
certifi==2020.6.20
cffi==2.1.0
chardet==4.0.0
cli-helpers==2.2.1
click==8.4.2
colorama==0.4.4
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
cryptography==49.0.0
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
dicttoxml==1.7.16
distro==1.7.0
exceptiongroup==1.3.1
eyeD3==0.8.10
filelock==3.6.0
Flask==3.1.3
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Minify==0.50
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
fonttools==4.29.1
fs==2.4.12
gast==0.5.2
google-auth==2.56.0
google-auth-oauthlib==1.4.0
greenlet==3.5.4
grpcio==1.30.2
gspread==6.2.1
gunicorn==26.0.0
h11==0.16.0
html5lib==1.1
htmlminf==0.1.13
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
idna==3.3
ifaddr==0.1.7
IMDbPY==2021.4.18
impit==0.13.1
importlib-metadata==4.6.4
ipython==7.31.1
iredis==1.16.1
itsdangerous==2.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.6
jsmin==3.0.1
keyring==23.5.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lesscpy==0.15.1
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
Mako==1.3.12
MarkupSafe==3.0.3
matplotlib==3.5.1
matplotlib-inline==0.1.3
meson==0.61.2
mistune==3.3.2
more-itertools==11.1.0
MouseInfo==0.1.3
mpmath==0.0.0
mycli==1.24.3
netaddr==0.8.0
netifaces==0.11.0
numpy==1.21.5
oauthlib==3.2.0
onboard==1.4.1
packaging==26.2
parso==0.8.1
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.3.1
pgspecial==1.11.10
pickleshare==0.7.5
pillow==12.2.0
ply==3.11
prompt-toolkit==3.0.28
protobuf==3.12.4
psutil==5.9.0
psycopg2==2.9.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycairo==1.20.1
pycparser==3.0
pycups==2.0.1
pycurl==7.44.1
pyelftools==0.27
PyGetWindow==0.0.9
Pygments==2.11.2
PyGObject==3.42.1
PyICU==2.8.1
PyJWT==2.3.0
PyMsgBox==2.0.1
PyMySQL==1.0.2
PyNaCl==1.5.0
pyparsing==2.4.7
pyparted==3.11.7
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.2
python-gnupg==0.4.8
python-magic==0.4.24
python-telegram-bot==22.8
python-whois==0.9.6
python-xapp==2.2.2
python-xlib==0.29
python3-xlib==0.15
pythran==0.10.0
pytweening==1.2.0
pytz==2022.1
pytzdata==2020.1
pyxdg==0.27
PyYAML==5.4.1
ratelimit==2.2.1
rcssmin==1.2.2
redis==7.4.1
reportlab==3.6.8
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==2.0.0
scipy==1.8.0
SecretStorage==3.3.1
setproctitle==1.2.2
six==1.17.0
soupsieve==2.3.1
SQLAlchemy==2.0.51
sqlparse==0.4.2
sympy==1.9
systemd-python==234
tabulate==0.8.9
terminaltables==3.1.0
tldextract==3.1.2
tomli==2.4.1
traitlets==5.1.1
typing_extensions==4.16.0
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unicodedata2==14.0.0
Unidecode==1.3.3
urllib3==1.26.5
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.1.8
WTForms==3.2.2
xdg==5
xkit==0.0.0
xxhash==3.8.1
youtube-dl==2021.12.17
zipp==1.0.0
